:root{
  --VIOLET-100: #4a0080;
  --VIOLET-200: #5a0796;
  --VIOLET-300: #690dab;
  --VIOLET-400: #7216a7;
  --VIOLET-500: #7b1fa3;
  --VIOLET-600: #8422a6;
  --VIOLET-700: #8c24a8;
  --VIOLET-800: #9426ac;
  --VIOLET-900: #9b27b0;

  --INDIGO-100: #1a1a4c;
  --INDIGO-200: #2f2f6f;
  --INDIGO-300: #434398;
  --INDIGO-400: #5959c0;
  --INDIGO-500: #6d6ddf;
  --INDIGO-600: #8080ff;
  --INDIGO-700: #9494ff;
  --INDIGO-800: #a8a8ff;
  --INDIGO-900: #bdbdff;

  --BLUE-100: #0d3c68;
  --BLUE-200: #145c9f;
  --BLUE-300: #1e81ae;
  --BLUE-400: #2e9ccc;
  --BLUE-500: #4dafd5;
  --BLUE-600: #7dc8e3;
  --BLUE-700: #aad6f3;
  --BLUE-800: #cfe8f7;
  --BLUE-900: #e5f1fb;

  --GREEN-100: #004d00;
  --GREEN-200: #196600;
  --GREEN-300: #338000;
  --GREEN-400: #4d9900;
  --GREEN-500: #65b300;
  --GREEN-600: #81cc00;
  --GREEN-700: #99e600;
  --GREEN-800: #b2ff00;
  --GREEN-900: #ccff33;

  --YELLOW-100: #7a5400;
  --YELLOW-200: #a87b00;
  --YELLOW-300: #d6a400;
  --YELLOW-400: #fac400;
  --YELLOW-500: #ffdc2e;
  --YELLOW-600: #ffe75c;
  --YELLOW-700: #ffed85;
  --YELLOW-800: #fff4b3;
  --YELLOW-900: #fff9db;

  --ORANGE-100: #4d2e00;
  --ORANGE-200: #804d00;
  --ORANGE-300: #b36b00;
  --ORANGE-400: #e68a00;
  --ORANGE-500: #ff9900;
  --ORANGE-600: #ffad33;
  --ORANGE-700: #ffc680;
  --ORANGE-800: #ffe0b3;
  --ORANGE-900: #fff4e5;

  --RED-100: #330000;
  --RED-200: #4d0000;
  --RED-300: #660000;
  --RED-400: #800000;
  --RED-500: #990000;
  --RED-600: #b30000;
  --RED-700: #cc0000;
  --RED-800: #e60000;
  --RED-900: #ff0000;

  --BLACK-100: #000000;
  --BLACK-200: #0a0a0a;
  --BLACK-300: #141414;
  --BLACK-400: #1f1f1f;
  --BLACK-500: #292929;
  --BLACK-600: #333333;
  --BLACK-700: #3d3d3d;
  --BLACK-800: #474747;
  --BLACK-900: #525252;

  --WHITE-100: #bfbfbf;
  --WHITE-200: #c7c7c7;
  --WHITE-300: #cfcfcf;
  --WHITE-400: #d6d6d6;
  --WHITE-500: #dedede;
  --WHITE-600: #e8e8e8;
  --WHITE-700: #f0f0f0;
  --WHITE-800: #f7f7f7;
  --WHITE-900: #ffffff;
}