$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

@function getBreakpoint($breakpoint) {
	@if (map-has-key($breakpoints, $breakpoint)) {
		@return map-get($map: $breakpoints, $key: $breakpoint);
	} @else {
		@return $breakpoint;
	}
}

@mixin mq($breakpoint) {
	@media only screen and (min-width: getBreakpoint($breakpoint)) {
		@content;
	}
}
