
.obsidian/

AWS Serverless/node_modules/

AWS Serverless/.DS_Store

.DS_Store

AWS Serverless/coding/GreetMe/node_modules/

LLD/SCALAR_LLD/.idea/

Project/Blogging Site/.$Blogging Site.drawio.bkp

Project/Blogging Site/.$Blogging Site.drawio.dtmp

Project/Blogging Site/code/.idea/

Project/Blogging Site/code/packages/back-end-application/src/Uploads/
