
.obsidian/

AWS Serverless/node_modules/

AWS Serverless/.DS_Store

.DS_Store

AWS Serverless/coding/GreetMe/node_modules/

LLD/SCALAR_LLD/.idea/

Project/PERSONAL APP/personal-app/.idea/

Project/PERSONAL APP/personal-app/node_modules/

Project/ZOHO Clone/ZohoCloneUI/.idea/
