.row-flex{
  display: flex;
  flex-direction: row;
}

.column-flex{
  display: flex;
  flex-direction: column;
}

.justify-left{
  display: flex;
  justify-content: left;
}

.justify-right{
  display: flex;
  justify-content: right;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.justify-space-between{
  display: flex;
  justify-content: space-between;
}

.align-center{
  display: flex;
  align-items: center;
}

.gap-xs{
  gap: 4px;
}

.gap-sm{
  gap: 8px;
}

.gap-md{
  gap: 16px;
}

.gap-lg{
  gap: 32px;
}

.gap-xl{
  gap: 64px;
}

